/*  */

:root{
 /* --background-image: linear-gradient(43deg, #4158D0, hsl(304, 52%, 55%, .5));*/
 --background-image:



}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

ul{
  list-style-type: none;
}




body{
  overflow: hidden;
  
}

a{
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: inherit;
}


/* MENU BUTTON */

.navbar-btn{
  position: absolute;
  right: 80px;
  margin-top: 50px;
  z-index: 9999999;
  
}

.navbar-btn button{
  background-color: transparent;
  font-size: 36px;
  border: none;
  cursor: pointer;
  color: black;
}

.navbar-open{
  
  position: absolute;
  right: 80px;
  margin-top: 50px;
  z-index: 9999999;
}

.navbar-open button{
  background-color: transparent;
  font-size: 36px;
  border: none;
  cursor: pointer;
  color: #fff;
}

/* HEADER */

.header{
  position: absolute;
  right: 0;
  height: 0;
  overflow: hidden;
  width: 200px;
  z-index: 99999;
  transition: all .5s ease-in-out;
  
}

.header.open{
  z-index: 99999;
  height: 158vh;
  background-color: #000;
}

.header nav ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-left: 0px;
  

}

.header nav ul li{
  margin: 20px 0;
  text-transform: uppercase;
  
}

.header nav ul li a {
  color: white;
}


/* ----------------------    HOMEPAGE ----------------------------------------*/

.homepage{
  /*background: url("https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-repeat: no-repeat;
  background-size: 200% 200%;
  background-position: center;
  height: 100%;*/
  /*background-image: linear-gradient(43deg, hsl(230, 60%, 54%, 100) , hsl(304, 52%, 55%,100) , hsl(39, 100%, 72%, 100) );*/
   /*radial-gradient(#13547a 0%, #80d0c7 100%);*/
  /*animation: colors 15s ease infinite;*/
   background-color: #fff;
    
   
}

.homepage .overlay{ 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 93vh;
  color: #000;
  
}


.homepage .overlay h1{
  font-size: 60px;
  font-family: 'Smooch Sans', sans-serif;
  text-align: center;
  color: #90ddf0;
  
}


.homepage .overlay h3{
  font-family: 'Fredoka', sans-serif;
  font-size: 28px;
  color: #000;
  text-align: center;
}

.homepage .overlay h4{
  font-family: 'Smooch Sans', sans-serif;
  font-size: 28px;
  color: #2c666e;
  text-align: center;
}

.overlay--name{
  padding: 2rem;
  width: 39rem;
  animation-duration: 2.5s;
  animation-name: fadein;
}

@keyframes fadein {
  from { opacity: 0; 
    width: 10rem;
    height: 0;
  }
  to   { opacity: 1; 
    width: 39rem;
    height: 34.3rem;
  }
}


.overlay--img{
  display: flex;
  padding-right: 5rem;
  
}
.overlay--img img{
  border-radius: 50%;
  width:  300px;
  height: 300px;
  transform: scaleX(-1);
}



.overlay--img{
  align-items: center;
  justify-content: center;
}


.homepage .overlay ul{
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.homepage .overlay ul li{
margin: 0px 20px;
}

.homepage .overlay ul li a{
  font-size: 30px;
  transition: .4s ease-out;
}

.homepage .overlay ul li a:hover{
  font-size: 35px;
  color: black;
  transition: .4s ease-out;
}

.translate--center{
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.translate button{
display: inline-block;
 border-radius: 4px;
 background-color: #2c666e;
 border: none;
 color: #FFFFFF;
 text-align: center;
 font-size: 17px;
 padding: 16px;
 width: 130px;
 transition: all 0.5s;
 cursor: pointer;
 margin: 20px;
}



button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
 }
 
 button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
 }
 
 button:hover span {
  padding-right: 15px;
 }
 
 button:hover span:after {
  opacity: 1;
  right: 0;
 }
/*---------------------------------- PROJECTS PAGE -----------------------------*/

.projects{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #07393C;
  height: 93vh;
}

.projects--container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50rem;
  width: 80rem;
  animation-name: myprojects;
  animation-duration: 3s;
}

@keyframes myprojects{
  from { opacity: 0; 
   
  }
  to   { opacity: 1; 
    
  }
}

.projects--card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: wheat;
}

.projects--card a img{
  width: 10rem;
  height: 12rem;
}

.projects--card h1{
  padding-bottom: 2rem;
  font-size: 4rem;
  color: #fff;
}

.projects--card ul{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.projects--card ul li img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  opacity: 0.3;
  transition: 2s ease;
}

.projects--card ul li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: ;
  margin: 2.5rem;
  height: 16rem;
  width: 20rem;
  border-radius: 10%;
  transition: 1s ease;
}

.projects--card ul li:hover {
  transition: 1s ease;
  width: 22rem;
  height: 17rem;
  
}

.projects--card ul li img:hover{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  opacity: 1;
  transition: 2s ease;
}

 /*---------------- SKILLS PAGE----------------------*/

 .skills{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: #90DDF0;
   height: 93vh;
   animation: entrada;
   animation-duration: 2s;
   font-size: 40px;
 }

 .skills--container{
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  justify-content: center;
 }

 .skills--overlay{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
 

 }

 .skills--icons{
    display: flex;
    flex-direction: row;
    align-items: center;
   
    color: white;
    font-size: 6rem;

 }

  .skills--icons ul{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
  }

  
  .skills--icons li{
    padding: 15px;
    transition: 1s ease;
  }

  .skills--icons2 ul{
    display: flex;
    margin-top: 40px;
  }

  .skills--icons2 li{
    padding: 10px;
  }

 .skills--icons2{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-size: 6rem;
 }


   

 @keyframes entrada {
  from { 
    height: 0vh;
  }
  to   { height: 93vh;
  }
}


/*---------------- CONTACT PAGE ----------------------*/
.contacts{
  display: flex;
  height: 93vh;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  animation-duration: 2s;
  animation-name: join;
  
}
@keyframes join {
  from { 
    opacity: 0;;
  }
  to   { opacity: 1;;
  }
}

.contacts--container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:;
  width: 100vh;
  height: 80vh;
}

.contacts--container h1{
  font-size: 8rem;
  padding: 3rem;
}

.contacts--name{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.contacts--img img{
  max-width: 55vh;
}

.contacts--name ul {
  display: flex;
  width: 15rem;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  
}


.teste ul li{
  font-size: 3rem;
  color: #000;
  transition: 1s ease;
}

.teste ul li:hover{
  font-size: 3.5rem;
  color: grey;
  transition: 1s ease;
}

.button {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}


.button:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}
.button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-23:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}
 /*---------------- FOOTER ----------------------*/


 .footer{
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #E2E8F0;
   width: 100%;
   height: 8vh;
 }

 .footer h2{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
 }

/*---------------- ERROR PAGE ----------------------*/

.error{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 93vh;
}

.error--name{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon--error{
  font-size: 100px;
  color: red;
}

/*---------------------------------- RESPONSIVE HOMEPAGE -----------------------------*/

 @media (max-width: 735px)
 {
   .homepage .overlay
    {
   display: flex;
   flex-wrap: wrap-reverse;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   padding-top: 2.5rem;
   
    }
 
    .overlay--img{
     display: flex;
     padding-right: 0rem;
     
   }
 
   .overlay--img img{
     border-radius: 50%;
     width:  200px;
     height: 200px;
     transform: scaleX(-1);
   }
   .homepage .overlay h3{
     font-family: 'Fredoka', sans-serif;
     font-size: 26px;
     color: #000;
     text-align: center;
   }
   body{
    overflow: scroll;
  }
   
 }
 
 
 @media (max-width: 425px)
 {
   .homepage .overlay
    {
   display: flex;
   flex-wrap: wrap-reverse;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   padding-top: 2.5rem;
   
    }
 
    .overlay--img{
     display: flex;
     padding-right: 0rem;
     
   }
 
   .overlay--img img{
     border-radius: 50%;
     width:  200px;
     height: 200px;
     transform: scaleX(-1);
   }
   .homepage .overlay h1{
     font-size: 45px;
     font-family: 'Smooch Sans', sans-serif;
     text-align: center;
   }
   
   
   .homepage .overlay h3{
     font-family: 'Fredoka', sans-serif;
     font-size: 25px;
     color: #000;
     text-align: center;
   }
   
   .homepage .overlay h4{
     font-family: 'Smooch Sans', sans-serif;
     font-size: 28px;
     color: #2c666e;
     text-align: center;
   }

   .translate--center{
    padding-top: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body{
    overflow: scroll;
  }

  .navbar-btn{
    position: absolute;
    right: 40px;
    margin-top: 50px;
    z-index: 9999999;
    
  }
  .navbar-open{
  
    position: absolute;
    right: 40px;
    margin-top: 50px;
    z-index: 9999999;
  }
 }
 
 @media (max-width: 380px){
 
   .homepage .overlay
    {
   display: flex;
   flex-wrap: wrap-reverse;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   padding-top: 2.5rem;
   
    }
 
    .overlay--img{
     display: flex;
     padding-right: 0rem;
     
   }
 
   .overlay--img img{
     border-radius: 50%;
     width:  200px;
     height: 200px;
     transform: scaleX(-1);
   }
   .homepage .overlay h1{
     font-size: 36px;
     font-family: 'Smooch Sans', sans-serif;
     text-align: center;
   }
   
   
   .homepage .overlay h3{
     font-family: 'Fredoka', sans-serif;
     font-size: 20px;
     color: #000;
     text-align: center;
   }
   
   .homepage .overlay h4{
     font-family: 'Smooch Sans', sans-serif;
     font-size: 24px;
     color: #2c666e;
     text-align: center;
   }

   .translate--center{
    padding-top: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .translate--center a{
    text-decoration: none;
    background-color:;
    font-size: 15px;
    
  }

  body{
    overflow: scroll;
  }

  .navbar-btn{
    position: absolute;
    right: 30px;
    margin-top: 50px;
    z-index: 9999999;
    
  }
  .navbar-open{
  
    position: absolute;
    right: 30px;
    margin-top: 50px;
    z-index: 9999999;
  }

 }
 @media (max-width: 281px){
  .translate--center{
    padding-top: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   body{
     overflow: scroll;
   }

   .navbar-btn{
    position: absolute;
    right: 20px;
    margin-top: 50px;
    z-index: 9999999;
    
  }
  .navbar-open{
  
    position: absolute;
    right: 20px;
    margin-top: 50px;
    z-index: 9999999;
  }

 }

/*---------------------------------- RESPONSIVE PROJECTS PAGE -----------------------------*/
@media (max-width: 1280px){
.projects{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #07393C;
  height: 93vh;
}

.projects--container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50rem;
  width: 80rem;

}

.projects--card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects--card a img{
  width: 10rem;
  height: 12rem;
}

.projects--card h1{
  padding-bottom: 2rem;
  font-size: 4rem;
  color: #fff;
}

.projects--card ul{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.projects--card ul li img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  opacity: 0.1;
  transition: 2s ease;
}

.projects--card ul li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 1.5rem;
  height: 16rem;
  width: 18rem;
  border-radius: 10%;
  transition: 1s ease;
}

.projects--card ul li:hover {
  transition: 1s ease;
  width: 22rem;
  height: 17rem;
  
}

.projects--card ul li img:hover{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  opacity: 1;
  transition: 2s ease;
}
}

@media (max-width: 1060px){
  .projects{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #07393C;
    height: 93vh;
  }
  
  .projects--container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50rem;
    width: 80rem;
  
  }
  
  .projects--card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .projects--card h1{
    padding-bottom: 1rem;
    font-size: 3rem;
    color: #fff;
  }
  
  .projects--card ul{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .projects--card ul li img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    opacity: 0.1;
    transition: 2s ease;
  }
  
  .projects--card ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    margin: 2rem;
    height: 12rem;
    width: 14rem;
    border-radius: 10%;
    transition: 1s ease;
  }
  
  .projects--card ul li:hover {
    transition: 1s ease;
    width: 15rem;
    height: 13rem;
    
  }
  
  .projects--card ul li img:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    opacity: 1;
    transition: 2s ease;
  }
  }


  @media (max-width: 870px){
    .projects{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #07393C;
      height: 93vh;
    }
    
    .projects--container{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50rem;
      width: 80rem;
    
    }
    
    .projects--card{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
    }

    .projects--card a img{
      width: 10rem;
      height: 12rem;
    }
    
    .projects--card h1{
      padding-bottom: 1.5rem;
      font-size: 2rem;
      color: #fff;
    }
    
    .projects--card ul{
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
    }
    
    .projects--card ul li img{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      opacity: 0.1;
      transition: 2s ease;
    }
    
    .projects--card ul li{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    
      margin: 2rem;
      height: 10rem;
      width: 12rem;
      border-radius: 10%;
      transition: 1s ease;
    }
    
    .projects--card ul li:hover {
      transition: 1s ease;
      width: 13rem;
      height: 11rem;
      
    }
    
    .projects--card ul li img:hover{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      opacity: 1;
      transition: 2s ease;
    }
    }

    @media (max-width: 774px){
      .projects{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #07393C;
        height: 93vh;
      }
      
      .projects--container{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50rem;
        width: 80rem;
      
      }
      
      .projects--card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .projects--card a img{
        width: 10rem;
        height: 12rem;
      }
      
      .projects--card h1{
        padding-bottom: 1.5rem;
        font-size: 2rem;
        color: #fff;
      }
      
      .projects--card ul{
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
      }
      
      .projects--card ul li img{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        opacity: 0.1;
        transition: 2s ease;
      }
      
      .projects--card ul li{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
  
        margin: 3rem;
        height: 8rem;
        width: 12rem;
        border-radius: 10%;
        transition: 1s ease;
      }
      
      .projects--card ul li:hover {
        transition: 1s ease;
        width: 11rem;
        height: 9rem;
        
      }
      
      .projects--card ul li img:hover{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        opacity: 1;
        transition: 2s ease;
      }
      }


      @media (max-width: 645px){
        .projects{
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #07393C;
          height: 93vh;
        }
        
        .projects--container{
          display: flex;
          align-items: center;
          justify-content: center;
          height: 50rem;
          width: 80rem;
        
        }
        
        .projects--card{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        
        .projects--card h1{
          padding-bottom: 1.5rem;
          font-size: 2rem;
          color: #fff;
        }
        
        .projects--card ul{
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
        }
        
        .projects--card ul li img{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          opacity: 0.1;
          transition: 2s ease;
        }
        
        .projects--card ul li{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          margin: 3rem;
          height: 8rem;
          width: 11rem;
          border-radius: 10%;
          transition: 1s ease;
        }
        
        .projects--card ul li:hover {
          transition: 1s ease;
          width: 9rem;
          height: 7rem;
          
        }
        
        .projects--card ul li img:hover{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          opacity: 1;
          transition: 2s ease;
        }
        }

        @media (max-width: 552px){
          .projects{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #07393C;
            height: 150vh;
          }
          
          .projects--container{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50rem;
            width: 80rem;
          
          }
          
          .projects--card{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
          
          .projects--card h1{
            padding-bottom: 2rem;
            font-size: 2rem;
            color: #fff;
          }
          
          .projects--card ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: white;
          }
          
          .projects--card ul li img{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            opacity: 0.1;
            transition: 2s ease;
          }
          
          .projects--card ul li{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
       
            margin: 4rem;
            height: 8.5rem;
            width: 11rem;
            border-radius: 10%;
            transition: 1s ease;
          }

          .projects--card ul li h2{
            font-size: 20px;
          }
          
          .projects--card ul li:hover {
            transition: 1s ease;
            width: 12rem;
            height: 9.5rem;
            
          }
          
          .projects--card ul li img:hover{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            opacity: 1;
            transition: 2s ease;
          }
          }

          @media (max-width: 375px){

            .header.open{
              z-index: 99999;
              height: 173vh;
              background-color: #000;
            }

            .projects{
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #07393C;
              height: 165vh;
            }
            
            .projects--container{
              display: flex;
              align-items: center;
              justify-content: center;
              height: 50rem;
              width: 80rem;
            
            }
            
            .projects--card{
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
            }
            
            .projects--card h1{
              padding-bottom: 2rem;
              font-size: 2rem;
              color: #fff;
            }
            
            .projects--card ul{
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              color: white;
            }
            
            .projects--card ul li img{
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              opacity: 0.1;
              transition: 2s ease;
            }
            
            .projects--card ul li{
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
      
              margin: 4rem;
              height: 7.5rem;
              width: 9.5rem;
              border-radius: 10%;
              transition: 1s ease;
            }
  
            .projects--card ul li h2{
              font-size: 20px;
            }
            
            .projects--card ul li:hover {
              transition: 1s ease;
              width: 12rem;
              height: 9.5rem;
              
            }
            
            .projects--card ul li img:hover{
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              opacity: 1;
              transition: 2s ease;
            }
            }

          
/*---------------------------------- RESPONSIVE SKILLS PAGE -----------------------------*/

@media (min-width:800px){
   
  
  .skills--icons ul li{
    padding: 2rem;
    transition: 1s ease;
  }

  .skills--icons2 ul li{
    padding: 2rem;
    transition: 1s ease;
  }

  .skills--icons ul li:hover{
    font-size: 7rem;
    color: #000;
    transition: 2s ease;
  }
  .skills--icons2 ul li:hover{
    font-size: 7rem;
    color: #000;
    transition: 2s ease;
  }
 }


 @media (max-width: 640px){



  .skills--container{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
   }

  .skills--overlay{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
  
   }

  .skills--icons{
    display: flex;
    align-items: center;
    color: white;
    font-size: 5rem;

 }

 .skills--icons2{
  display: flex;
  align-items: center;
  color: white;
  font-size: 5rem;

}

 .skills--icons ul{
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

  .skills--icons2 ul{
    flex-direction: row;
    display: flex;
    margin-top: 40px;
  }

  .skills--icons ul li{
    padding: 5px;
    transition: 1s ease;
  }
  .skills--icons2 ul li{
    padding: 5px;
    transition: 1s ease;
  }
  
}

@media (max-width: 480px){

  .skills{
    height: 150vh;
  }

  .skills--container{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
   }

  .skills--overlay{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.2rem;
  
   }

  .skills--icons{
    display: flex;
    align-items: center;
    color: white;
    font-size: 5rem;

 }

 .skills--icons2{
  display: flex;
  align-items: center;
  color: white;
  font-size: 5rem;

}

 .skills--icons ul{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

  .skills--icons2 ul{
    flex-direction: column;
    display: flex;
    margin-top: 10px;
  }

  .skills--icons li{
    padding: 4px;
  }
  .skills--icons2 li{
    padding: 4px;
  }

  .skills--icons ul li:hover{
    font-size: 5rem;
    
    
  }
  .skills--icons2 ul li:hover{
    font-size: 5rem;
   
   
  }
}


@media (max-width: 375px){

  .skills{
    height: 150vh;
  }

  .skills--container{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
   }

  .skills--overlay{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
  
   }

  .skills--icons{
    display: flex;
    align-items: center;
    color: white;
    font-size: 5rem;

 }

 .skills--icons2{
  display: flex;
  align-items: center;
  color: white;
  font-size: 5rem;

}

 .skills--icons ul{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

  .skills--icons2 ul{
    flex-direction: column;
    display: flex;
    margin-top: 10px;
  }

  .skills--icons li{
    padding: 4px;
  }
  .skills--icons2 li{
    padding: 4px;
  }

  .skills--icons ul li:hover{
    font-size: 5rem;
    
    
  }
  .skills--icons2 ul li:hover{
    font-size: 5rem;
   
   
  }
}

/*-----------------------------------REPONSIVE CONTACT PAGE------------------------------------------*/
@media (max-width: 950px){
.contacts{
  display: flex;
  height: 93vh;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
}

.contacts--container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:;
  width: 100vh;
  height: 80vh;
}

.contacts--container h1{
  font-size: 6rem;
  padding: 3rem;
}

.contacts--name{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.contacts--img img{
  max-width: 55vh;
}

.contacts--name ul {
  display: flex;
  width: 15rem;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  
}


.teste ul li{
  font-size: 3rem;
  color: #000;
  transition: 1s ease;
}

.teste ul li:hover{
  font-size: 3.5rem;
  color: grey;
  transition: 1s ease;
}

.button {
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 30px;
  box-shadow: #000 4px 4px 0 0;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-color: grey;
}

.button:active {
  box-shadow: #000 2px 2px 0 0;
  transform: translate(2px, 2px);
}
}

@media (max-width: 760px){
  .contacts{
    display: flex;
    height: 93vh;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
  }
  
  .contacts--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:;
    width: 100vh;
    height: 80vh;
  }
  
  .contacts--container h1{
    font-size: 4rem;
    padding: 3rem;
  }
  
  .contacts--name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
  }
  
  .contacts--img img{
    max-width: 55vh;
  }
  
  .contacts--name ul {
    display: flex;
    width: 15rem;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    
  }
  
  
  .teste ul li{
    font-size: 3rem;
    color: #000;
    transition: 1s ease;
  }
  
  .teste ul li:hover{
    font-size: 3.5rem;
    color: grey;
    transition: 1s ease;
  }
  
  .button {
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 30px;
    box-shadow: #000 4px 4px 0 0;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button:hover {
    background-color: grey;
  }
  
  .button:active {
    box-shadow: #000 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  }

  @media (max-width: 570px){
    .contacts{
      display: flex;
      height: 93vh;
      align-items: center;
      justify-content: center;
      background-color: #FFF;
    }
    
    .contacts--container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color:;
      width: 100vh;
      height: 80vh;
    }
    
    .contacts--container h1{
      font-size: 4rem;
      padding: 3rem;
    }
    
    .contacts--name{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0rem;
    }
    
    .contacts--img img{
      max-width: 55vh;
    }
    
    .contacts--name ul {
      display: flex;
      width: 15rem;
      align-items: center;
      justify-content: space-between;
      padding-top: 25px;
      
    }
    
    
    .teste ul li{
      font-size: 3rem;
      color: #000;
      transition: 1s ease;
    }
    
    .teste ul li:hover{
      font-size: 3.5rem;
      color: grey;
      transition: 1s ease;
    }
    
    .button {
      background-color: #fff;
      border: 2px solid #000;
      border-radius: 30px;
      box-shadow: #000 4px 4px 0 0;
      color: #000;
      cursor: pointer;
      display: inline-block;
      font-weight: 600;
      font-size: 18px;
      padding: 0 18px;
      line-height: 50px;
      text-align: center;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .button:hover {
      background-color: grey;
    }
    
    .button:active {
      box-shadow: #000 2px 2px 0 0;
      transform: translate(2px, 2px);
    }
    }

    @media (max-width: 414px){
      .contacts{
        display: flex;
        height: 93vh;
        align-items: center;
        justify-content: center;
        background-color: #FFF;
      }
      
      .contacts--container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color:;
        width: 100vh;
        height: 80vh;
      }
      
      .contacts--container h1{
        font-size: 3rem;
        padding: 3rem;
      }
      
      .contacts--name{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0rem;
      }
      
      .contacts--img img{
        max-width: 45vh;
      }
      
      .contacts--name ul {
        display: flex;
        width: 15rem;
        align-items: center;
        justify-content: space-between;
        padding-top: 25px;
        
      }
      
      
      .teste ul li{
        font-size: 2.5rem;
        color: #000;
        transition: 1s ease;
      }
      
      .teste ul li:hover{
        font-size: 3.5rem;
        color: grey;
        transition: 1s ease;
      }
      
      .button {
        background-color: #fff;
        border: 2px solid #000;
        border-radius: 30px;
        box-shadow: #000 4px 4px 0 0;
        color: #000;
        cursor: pointer;
        display: inline-block;
        font-weight: 600;
        font-size: 18px;
        padding: 0 18px;
        line-height: 50px;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
      }
      
      .button:hover {
        background-color: grey;
      }
      
      .button:active {
        box-shadow: #000 2px 2px 0 0;
        transform: translate(2px, 2px);
      }
      }

      @media (max-width: 380px){
        .contacts{
          display: flex;
          height: 93vh;
          align-items: center;
          justify-content: center;
          background-color: #FFF;
        }
        
        .contacts--container{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color:;
          width: 100vh;
          height: 80vh;
        }
        
        .contacts--container h1{
          font-size: 2.5rem;
          padding: 3rem;
        }
        
        .contacts--name{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 0rem;
        }
        
        .contacts--img img{
          max-width: 35vh;
        }
        
        .contacts--name ul {
          display: flex;
          width: 12rem;
          align-items: center;
          justify-content: space-between;
          padding-top: 25px;
          
        }
        
        
        .teste ul li{
          font-size: 3rem;
          color: #000;
          transition: 1s ease;
        }
        
        .teste ul li:hover{
          font-size: 3.5rem;
          color: grey;
          transition: 1s ease;
        }
        
        .button {
          background-color: #fff;
          border: 2px solid #000;
          border-radius: 30px;
          box-shadow: #000 4px 4px 0 0;
          color: #000;
          cursor: pointer;
          display: inline-block;
          font-weight: 600;
          font-size: 18px;
          padding: 0 18px;
          line-height: 50px;
          text-align: center;
          text-decoration: none;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
        }
        
        .button:hover {
          background-color: grey;
        }
        
        .button:active {
          box-shadow: #000 2px 2px 0 0;
          transform: translate(2px, 2px);
        }
        }